{% extends "index.html" %}
{% load static %}
{% block title %}
ABOUT US | Fraud Detection System
{% endblock %}

{% block content %}
<main id="main" >

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
      Welcome to FDOT, your number one source for fraud detection in online transaction. We're dedicated to providing you the very best of fraud detection, with an emphasis on Security, Alertness, Simplicity.


FDOT has come a long way from its beginnings in [starting location]. When we first started out, our passion for user friendly experience as well as security.


We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.


Sincerely,

DYPCET Team
    </section><!-- End Hero -->
  
    </main>
  
{% endblock %}